#generator {
  // background-color: rgb(194, 255, 209);
  // height: 300px;
  // width: 800px;
}

.generator-palette {
  background-color: rgb(194, 255, 209);
  height: 30vh;
  list-style: none;
  padding: 0;
  width: 50vh;
}

.generator-color {
  height: 20%;
  width: 100%;
}